html,
body {
    margin: 0;
    padding: 0;
    background: #000000;
    color: white;
    overflow: auto;
}

.page-content {
    overflow: auto;
}

canvas {
    display: inline;
}

.inputC {
    width: 10%;
}

.scrollable {
    overflow: auto;
    height: 100%;
}


/* The Modal (background) */

.modal {
    position: fixed;
    /* Stay in place */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    background-color: #1212123b;
    /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content {
    color: aliceblue;
    background-color: #121212;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 350px;
    /* Could be more or less, depending on screen size */
}

.modal-content-it {
    color: aliceblue;
    background-color: #121212;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
    /* Could be more or less, depending on screen size */
}

.modal-footer {
    background-color: #121212;
    color: white;
    border-radius: 0;
    bottom: 0px;
    position: relative;
    width: 100%;
}

.palette-button {
    background-color: #121212;
    color: white;
    border-radius: 0;
    bottom: 0px;
    position: relative;
    width: 100%;
    height: 100%;
}

.palette-button:hover {
    color: white;
    background: #464646;
    /*box-shadow: 0 0 50px #39ff14;*/
}

.palette-button:focus {
    color: white;
    background: #464646;
    /*box-shadow: 0 0 50px #39ff14;*/
}


/* The snackbar - position it at the bottom and in the middle of the screen */

#snackbar {
    visibility: hidden;
    /* Hidden by default. Visible on click */
    min-width: 250px;
    /* Set a default minimum width */
    margin-left: -125px;
    /* Divide value of min-width by 2 */
    background-color: #333;
    /* Black background color */
    color: #fff;
    /* White text color */
    text-align: center;
    /* Centered text */
    border-radius: 2px;
    /* Rounded borders */
    padding: 16px;
    /* Padding */
    position: fixed;
    /* Sit on top of the screen */
    z-index: 1;
    /* Add a z-index if needed */
    left: 50%;
    /* Center the snackbar */
    bottom: 30px;
    /* 30px from the bottom */
}


/* Show the snackbar when clicking on a button (class added with JavaScript) */

#snackbar.show {
    visibility: visible;
    /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


/* Animations to fade the snackbar in and out */

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}